doctype html
doctype html
html
  head
    link(rel="icon" href="/images/Favicon.png")
  .column
    title  Cress 🎵 
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel='stylesheet', type='text/css', media='all', href='stylesheets/profile.css')
    link(rel="stylesheet" href="/stylesheets/buttonProjects.css")
    link(rel="stylesheet" href="/stylesheets/column.css")
    //link(rel="stylesheet" href="/stylesheets/loginStyle.css")
    link(rel="stylesheet" href="/stylesheets/projectsStyle.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel='stylesheet', href='/stylesheets/textarea.css')
    link(rel='shortcut icon', href='http://designshack.net/favicon.ico')
    link(rel='icon', href='http://designshack.net/favicon.ico')
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/buttonProjects.css")
    link(rel="stylesheet" href="/stylesheets/column.css")
    //link(rel="stylesheet" href="/stylesheets/loginStyle.css")
    link(rel="stylesheet" href="/stylesheets/projectsStyle.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel="stylesheet" href="/stylesheets/modal.css")
    link(rel="stylesheet" href="/stylesheets/buttonNeume.css")
    link(rel="stylesheet" href="/stylesheets/reset.css")
    script(type='text/javascript' src='/javascripts/modals.js')
    link(rel="stylesheet" href="/stylesheets/inputCss.css")



    
    script(type='text/javascript', src='javascripts/jquery-1.10.2.min.js')

    link(rel="stylesheet" href="/stylesheets/modal.css")

    link(rel="images" href="/images/CF-005 (1).png")
    //Column parameters
  div
    header.sticky
        // our main logo
        a#logo(href='#')
          span Cress 🎵 
        // main navigation links
        nav
          ul
              li
                a(href='/about') About
              li
                a(href='/projects') Projects
              li
                a(href='http://ddmal.music.mcgill.ca/') DDMAL 
              li
                a(href='/') Log out
              li
                a(href='#') #{username}

    // the content
    main
      // hero content
      .hero
          #w
            #content.clearfix
              #userphoto
                img(src='images/avatar.png', alt='default avatar')
              h1 #{username}
              nav#profiletabs
                ul.clearfix
                  li.profiletab
                    a.sel(href='#bio') Profile
                  li.profiletab
                    a(href='#friends') Collaborators
                  li.profiletab
                    a(href='#settings') Settings
              section#bio
                br
                h2 - Profile -
                p.activity
                  | Email : #{email}
                p.activity
                  | Profile status : Editor
                 form(action='/updateBio', method='post')
                  textarea(type='text', name='bio', rows="5" cols="5" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" placeholder = "Write your bio here!") #{bio}
                  input(type='hidden',value='PUT',name='_method')
                  br
                  button(class = "button button2") Update
              section#friends.hidden
                br
                p Collaborators:
                - each collaborator in collaborators
                  ul#friendslist.clearfix
                    li
                    h6 Username : #{collaborator.collabUserName} 
                    h6 Project : #{collaborator.collabProjectName}
                     form(action='/deleteCollab',method='post',enctype='application/x-www-form-urlencoded')   
                        input(name="collabName" value = "#{collaborator.nameCollab}" hidden)
                        input(name="collabProject" value = "#{collaborator.projectID}" hidden)
                        input(type='hidden',value='DELETE',name='_method')
                        button(class = "button button3DeleteCollab" class = "cd-popup-trigger" id = "buttonCollab#{collaborator._id}" type = 'button') x
                        
                        .modalDeleteCollab(id = "DeleteModal#{collaborator._id}")
                          // Modal content
                          .modalDeleteCollab-content
                            span.closeDeleteCollab(id = "closingModal#{collaborator._id}") ×
                            h4 Are you sure you want to delete this collaborator? 
                            br
                            h3 #{collaborator.collabUserName}
                            p
                             button(type='submit' class = "button button3DeleteImage") Yes
                             button(type = "button" class = "button button4" id = "NoButton#{collaborator._id}") No
                             br

                           script.
                               //Modals event listeners for every modal
                                window.addEventListener('load', function() {
                                  
                                    initializeModal('DeleteModal#{collaborator.id}', 'buttonCollab#{collaborator._id}');
                               
                                  });

                                     document.getElementById("NoButton#{collaborator._id}").onclick = function(){
                                                document.getElementById("DeleteModal#{collaborator._id}").style.display = 'none';
                                                };
                                     document.getElementById("closingModal#{collaborator._id}").onclick = function(){
                                                document.getElementById("DeleteModal#{collaborator._id}").style.display = 'none';
                                                };

                   br
                 #ex1.modal
                    h2.
                     Add a Collaborator
                    form#formAddproject(name="addCollab",method="post",action="/collabs")

                              p Name: 
                                 select(class = "createProjectInput" name="collabName" id = "selectUser" required)
                                      option(disabled='', selected='', value='')  -- select a username -- 
                                      - each user in users
                                          option(value='#{user.id}') #{user.username}                            

                              p Project: 
                                 select(class = "createProjectInput" name="project" id = "selectProject" required)
                                      option(disabled='', selected='', value='')  -- select a project -- 
                                      - each project in projects
                                          option(value='#{project.id}') #{project.name}
                              p
                                 button#btnSubmit(type="submit" class = "buttonAddProject" style = "border-radius : 5px") submit
                  // Link to open the modal
                a(href='#ex1', rel='modal:open') Add a Collaborator

              section#settings.hidden
                br
                p Edit your user settings:
                
                  p.setting
                    form(action='/updateUsername', method='post')        
                      .page
                        label.field.a-field.a-field_a1.page__field
                          input.field__input.a-field__input(name = "usernameSettings" value = "#{username}" size="20" required type = 'text')
                          span.a-field__label-wrap
                            span.a-field__label Username
                      button(class = "button button2" ) Update username

                    form(action='/updateEmail', method='post')
                      .page
                        label.field.a-field.a-field_a1.page__field
                          input.field__input.a-field__input(name = "emailSettings" value = "#{email}" size="20" required type = 'text')
                          span.a-field__label-wrap
                            span.a-field__label Email     
                      button(class = "button button2" ) Update email

                   

  footer
    //img(src='img/avatar.jpeg', alt='Footer Logo')
    span
      | Cress
      br
      | Copyright © 2019

script(type='text/javascript').
 $(function(){
  $('#profiletabs ul li a').on('click', function(e){
     e.preventDefault();
     var newcontent = $(this).attr('href');
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
      $('#content section').each(function(){
        if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
        });
        $(newcontent).removeClass('hidden');
      });
 });
  



