div.project-nav-wrapper
  // Add New Neume Modal
  #myModal.modal
    // Modal content
    .modal-content
      span.close ×
      //- include newNeume.jade
  
  .modal(id = "uploadCSV")
    .modal-content
      span.close x
      include uploadCSV.jade

  .modal(id = "imageCSV")
    .modal-content
      span.close x
      include imageCSV.jade
  .modal(id="append-delete-modal")
    .modal-content
      h3 Would you like to append to or delete the current neumes?
      button(class="button" onclick="append(true)") Append
      button(class="button" onclick="append(false)" style="background-color: red") Delete

    // Add New Neume Modal
  #modalSection.modal
    // Modal content
    .modal-content
      span.close ×
      include section.jade
  button(id = "modalSectionButton" type = "button" hidden)
  
  .top-row-wrapper

      
    input(id="projectName_#{project.id}", class="projectName", type='text', value='#{project.name}', name='nameProject' required,style="margin-bottom: 0px; margin-right: auto; font: 18px Avenir, sans-serif; font-size:24px; vertical-align: baseline; width : 35%; display : inline-block;" size = '10' text-align: center;"")

    if user.id == project.userID
      //- button(type = 'button' class = 'button button2AddNeume' class = 'tooltipcollapse' style = "font: 14px Avenir, sans-serif; width : 38px" onclick = "collapseAll();" id = "buttonSavePosition")
      //-   i(id = "compress").fa.fa-caret-up.fa-lg
      //-   i(id = "expand" style = "display : none").fa.fa-caret-down.fa-lg 
      //-   span.tooltiptext To collapse or uncollapse neumes, click here!

      //- button#myBtnElement(class = "button button2AddNeume" class = 'tooltipundo' onclick="undo();" style = "margin-right : 10px") 
      //-   i.fa.fa-undo.fa-sm
      //-   span.tooltiptext To undo a position change, click here!
      //-   br
    
      //- button#myBtn(class = "button button2AddNeume" class = 'tooltipAdd' style = "margin-right : 10px") 
      //-   i.fa.fa-plus.fa-sm
      //-   span.tooltiptext To add a new neume, click here!
      div(id="neume-delete-selected-button" class="tooltipAdd" style="margin-right: 10px; display: none;")
        i.fa.fa-trash.fa-lg
        span.tooltiptext.delete To delete all the selected neumes, click here!
      
      div(id="imageCSVButton" class="upload-button tooltipAdd" style="margin-right: 10px")
        i.fa.fa-upload
        span.tooltiptext To upload a spreadsheet file to this project, click here!
      
      div(class = "neume-add-button" class = 'tooltipAdd' style = "margin-right : 10px") 
        i.fa.fa-plus.fa-sm
        span.tooltiptext To add a new neume, click here!
    
    button(class = 'button button2CSV' class = 'tooltip' id = 'uploadCSVButton' style = "font: 14px Avenir, sans-serif; width : 4%; display : none" onclick = "initializeModal('uploadCSV', 'uploadCSVButton');" )
      i.fa.fa-upload
      | 
    form(action='/fork',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                  input(type='text',value='#{project.name}', name='projectName' hidden)
                  button(type = 'submit' class = 'button button2CSV' class = 'tooltipfork' style = "font: 14px Avenir, sans-serif;")
                    i.fa.fa-code-fork
                    |  Copy
                    span.tooltiptext To save the project as your own and start working on it, click here!
    if user.id == project.userID
      button(class = 'button button2CSV' class = 'tooltip' id = 'button' style = "margin-left : 5px; display : block; font: 14px Avenir, sans-serif;" onclick = "editButtons()")
        i.fa.fa-caret-down.fa-lg
        |  Export
      
    
    div.editButtons
      
      //- SOCKET.IO VERSIONS
      //-
      //- form(onsubmit="return downloadCSV(event)" enctype='application/x-www-form-urlencoded')
      //-   input(type='text',value='csv', name='fileType' hidden)
      //-   input(type='text',value='#{project.id}', name='IdOfProject' hidden)
      //-   input(type='text',value='#{project.name}', name='projectName' hidden)
      //-   button(type = 'submit' class = 'button' class = 'tooltip' style = "font: 14px Avenir, sans-serif; width : 100px; display : block;" )
      //-     i.fa.fa-download
      //-     |  CSV 
      //- form(onsubmit="return downloadCSV(event)" enctype='application/x-www-form-urlencoded')
      //-   input(type='text',value='xlsx', name='fileType' hidden)
      //-   input(type='text',value='#{project.id}', name='IdOfProject' hidden)
      //-   input(type='text',value='#{project.name}', name='projectName' hidden)
      //-   button(type = 'submit' class = 'button' class = 'tooltip' style = "font: 14px Avenir, sans-serif; width : 100px; display : block;" )
      //-     i.fa.fa-download
      //-     |  XLSX 
      
      
      //- ROUTER VERSION
      form(action='/csvProject',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                    input(type='text',value='#{project.name}', name='projectName' hidden)
                    button(type = 'submit' class = 'button' class = 'download-button tooltip' style = "font: 14px Avenir, sans-serif; width : 100px; display : block;" )
                      i.fa.fa-download
                      |  CSV 
      form(action='/xlsxProject',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                    input(type='text',value='#{project.name}', name='projectName' hidden)
                    button(type = 'submit' class = 'button' class = 'download-button tooltip' style = "font: 14px Avenir, sans-serif; width : 100px; display : block;" )
                      i.fa.fa-download
                      |  XLSX 
                    
                      //span.tooltiptext To download the project as a .csv file, click here!
      //- button(class = 'button' class = 'tooltip' id = 'imageCSVButton' style = "font: 14px Avenir, sans-serif; width : 100px" onclick = "initializeModal('imageCSV', 'imageCSVButton');")
      //-  i.fa.fa-upload
      //-  |  Upload

      //- button(class = 'button' class = 'tooltip' id = 'sectionButton' style = "font: 14px Avenir, sans-serif; width : 100px; display : block; margin-left : 0px;" type = "button")
      //-  | Section
      //- button(type = 'button' class = 'button' class = 'tooltip' style = "font: 14px Avenir, sans-serif; width : 100px; display : block;" onclick = "buttonSaveLoad()" id = "buttonSavePosition" disabled)
      //-  i.fa.fa-save
      //-  |   Save


  //Four Equal Columns
  //- div.sheet-column-wrapper
  //-   div(style='width : 25%;')
  //-     | Images
  //-   div(style='width : 20%;')
  //-     | Folio 
  //-   div(style='width : 20%;')
  //-     | Classification
  //-   div(style='width : 35% ; border-right: none;')
  //-     | MEI encoding
  div.neume-table-header
    div(style="max-width: 100px;")
      b Image
    div
      b Name
    div 
      b Generic Name
    div 
      b Folio
    div 
      b Description
    div 
      b Classification
    div.mei-header 
      b MEI Encoding
    button(id="select-all-button")
      i.fa.fa-check
    //- div(id = "menu")
   //Neume section : 4 components added for each new neume. 
