block content
body
    h5.
      #{neume.name}
    form(action='/neumes/#{neume._id}/editImage',method='post',name='updateneume',enctype='application/x-www-form-urlencoded')
        div(id = "dropzone#{neume.id}").dropzone(method='post', action='/image' name="image" required)
        .fallback
        p Images :
          div(id = "images#{neume.id}")
        input(type="text", name="imageDeleted", id = "imageToDelete#{neume.id}" hidden required)
        input(type='hidden',value='PUT',name='_method') 

        
        button#btnSubmit(type="submit" class = "button button5SubmitEdit") submit

 form(action='/neumes/cancel',method='post',enctype='application/x-www-form-urlencoded' id = "cancel")  
  input(type='hidden',value='GET',name='_method')
  button(type = "submit" id ="cancelButton" class = "button3CancelImage") Cancel

// import the external script and call its helper function
script(type="text/javascript" src="../../javascripts/editneumescript.js")
script(type='text/javascript').
  var neume = !{JSON.stringify(neume)};
  initEditNeume(neume);