block content
body
    h5.
      #{neume.name}
    form(action='/neumes/#{neume._id}/editImage',method='post',name='updateneume',enctype='application/x-www-form-urlencoded')
        div(id = "dropzone#{neume.id}").dropzone(method='post', action='/image' name="image" required)
        .fallback
        p Images :
          div(id = "images#{neume.id}")
          input(type='hidden',value='PUT',name='_method') 

        
        button#btnSubmit(type="submit" class = "button button5SubmitEdit") submit
    
  form(action='/neumes/#{neume._id}/deleteImage',method='post',enctype='application/x-www-form-urlencoded' id = "DeleteImageForm")
            input(type="text", name="imageDeleted", id = "imageToDelete#{neume.id}" hidden required)     
            input(type='hidden',value='DELETE',name='_method')
            button(type = "submit" id ="deleteImagebutton#{neume.id}" hidden) submit
 
 form(action='/neumes/cancel',method='post',enctype='application/x-www-form-urlencoded' id = "cancel")  
  input(type='hidden',value='GET',name='_method')
  button(type = "submit" id ="cancelButton" class = "button3CancelImage") Cancel

// make sure that the script has access to the necessary express render variables
script(type='text/javascript').
  var neume = !{JSON.stringify(neume)};

script(type='text/javascript' src="/javascripts/editneumescript.js")