block content
    h5.
      #{neume.name}
    form(action='/neumes/#{neume._id}/edit',method='post',name='updateneume',enctype='application/x-www-form-urlencoded')
        div(id = "dropzone#{neume.id}").dropzone(method='post', action='/image' name="image" required)
        .fallback
        p Images :
        div(id = "images#{neume.id}")
        //These lignes are making the updated values null
        //We just want to update the images, so we might need to create a new route that does the
        //same thing as the update, but that simply updates the images instead of updating everything. 
        input(type='hidden',value='PUT',name='_method')

        //showing the images from the database and deleting them:

        button#btnSubmit(type="submit") submit
script.
  Dropzone.autoDiscover = false;
  if (document.getElementById('dropzone#{neume.id}')) {
    var myDropzone = new Dropzone("div#dropzone#{neume.id}", {
        maxFileSize: 100,
        acceptedFiles: ".png, .jpg, .tiff, .tif, .jpeg",
        addRemoveLinks: true,
    });
    }
    myDropzone.on('removedfile', function (file) {
    //Need to add the remove file to true from the dropzone.
        var fs = require('fs');
          console.log(file);

        /* here do AJAX call to your server ... */
        //try an ajax call with a php file
        });
    //Getting the canvas for the mei snippets : 
                  var imagePaths = "#{neume.imagePath}";
                  var imageArray = imagePaths.split(',');
                  //For each image in the neume
                  imageArray.forEach(function(element){
                  //creating a canvas
                  var canvas = document.createElement('canvas');
                  var ctx = canvas.getContext("2d");
                  //creating an image object
                  var image = new Image();

                  image.onload = function () {

                      // set size proportional to image
                      canvas.height = 95;
                      canvas.width = 100;

                      // step 1 - resize to 50%
                      var oc = document.createElement('canvas'),
                          octx = oc.getContext('2d');

                      oc.width = image.width;
                      oc.height = image.height;
                      octx.drawImage(image, 0, 0, oc.width, oc.height);

                      // step 2
                      octx.drawImage(oc, 0, 0, oc.width, oc.height);

                      // step 3, resize to final size
                      ctx.drawImage(oc, 0, 0, oc.width, oc.height,
                      0, 0, canvas.width, canvas.height);
                  }
                  //getting the source of the image from the gallery
                  image.src = "/gallery/" + element; //getting the file paths
                  var imageCard = document.getElementById("images#{neume.id}");//getting
                  //add the image to the canvas
                  imageCard.appendChild(canvas);
                  canvas.appendChild(image);//the image is appended

                  //We can create a delete button here 
                  //We also append it tp the imageCard
                  });

