mixin deletemix(neume)
  form(action='/neumes/#{neume._id}/edit',method='post',enctype='application/x-www-form-urlencoded' style: 'position: relative')
          input(type='hidden',value='DELETE',name='_method')
          button(style = "float : right;" type="button" class = "button button3" data-toggle='modal' data-target='#exampleModal' id = "deleteNeumeButton#{neume.id}").
              x
          .modal(id = "DeleteModal#{neume.id}")
            // Modal content
            .modal-content
              span.close ×
              h4(style = "text-align : center") Are you sure you want to delete this neume? 
              br
              h3(style = "text-align : center") #{neume.name}
              p
               button(type='submit' class = "button button3DeleteImage") Yes
               button(type = "button" class = "button button4" id = "NoButton#{neume._id}") No
               br
               br
    

mixin submitchangesmix(neume)
  //Submitting the update form
  input(type='hidden',value='PUT',name='_method')
  button(type='submit' href = "/neumes" class = "button button2Update" id = "btnUpdateSubmit#{neume.id}" style = "width : 5%; position: absolute; top: -30px" class = 'tooltip') 
    i.fa.fa-save
    span.tooltiptext You can directly edit the fields on the neume. Once you're satisfied with the changes, click here!  
  br
  br

mixin collapsebutton(neume)
  //Submitting the update form
  button(style = "font: 14px Avenir, sans-serif; width: 100px; position: absolute; top: 15px" id = "showName#{neume.id}" type= "button" class = "button viewNameButton notransition" class = "tooltip")
    i.fa.fa-caret-down.fa-lg 
    |     #{neume.name}
  br
  br

mixin seeinfomixin(neume, owned)
  button(style = "font: 14px Avenir, sans-serif" id = "seeInfoButton#{neume.id}" type= "button" class = "button button1" class = "tooltip" onclick = "  $(seeInfo#{neume.id}).modal();") Edit Info
  .modal(id = 'seeInfo#{neume.id}' style = 'height: 100%; width: 100%; margin: none')
   .modal-content(style = 'height: 45%; width: 50%')
     span.close(onclick='$(seeInfo#{neume.id}).modal("hide")') x
     p(style = "position : absolute; font: 16px Avenir, sans-serif;") Name: 
     input#inputName(type='text', value='#{neume.name}', name='name' required,style="font-size:12px; margin : 0px padding : 0px; font: 14px Avenir, sans-serif;")

     p(style = "font: 16px Avenir, sans-serif;") Generic Name: 
     input#inputGenericName(type='text', value='#{neume.genericName}', name='genericName' ,style="font-size:12px; margin : 0px padding : 0px; font: 14px Avenir, sans-serif;" placeholder = "ex. Generic Name")

     p(style = "font: 16px Avenir, sans-serif; float : left; margin-top : 0px; display:table-cell; ") Folio: 
     input#inputfolio(type='text', value='#{neume.folio}', name='folio', style="font-size:12px; margin : 0px padding : 0px; font: 14px Avenir, sans-serif;")
     //Add folio for the neumes
     p(style = "font: 16px Avenir, sans-serif;") Description:  
     input#inputDescription(type='text', value='#{neume.description}', name='description', style="font-size:12px; margin : 0px padding : 0px; font: 14px Avenir, sans-serif;")

     input(type='hidden',value='PUT',name='_method')
     button#btnSubmit6(type="submit" class = "button button5SubmitEdit" style = owned ? "" : "display: none") Submit changes
       
  br
  br