    
div.boxSection
		p #{section.name}
		ul
			- each neume in neumes
				div(id = "showNeume#{neume.id}" hidden)
					p #{neume.neumeSection}

				script.
					if("#{neume.neumeSection}" == "#{section.id}"){
					document.getElementById("showNeume#{neume.id}").style.display = "block";

					}
					

