doctype html
html
  include includes/projectHead.jade

//Header parameters
   //Column parameters
//- - each user in users
div.all-project-nav-wrapper
  include includes/projectHeader.jade
  include includes/projectNav.jade

//Title section : Adding a neume button and changing the title name 
               
ul.neumeSection(style = "display: block; top : 142px; position: relative; min-height: calc(100% - 145px)" id="neume-sheet")
  if neumes
    - each neume in neumes
      li.neume-row(id="#{neume.id}" class="ui-state-default")
        div.image-wrap
          //- if neume.imagesBinary[0]
          //-   img(src="data:image/jpeg;base64,#{neume.imagesBinary[0]}")
          //-   button.change-image-button(style="display: none;")
          //-     i.fa.fa-edit
          //- else
          div(method='post', action='/image' name="image" required, id="dropzone_#{neume.id}", class="dropzone")
            div(class="drag-zone")
            div(class="dz-message" data-dz-message)
              i.fa.fa-upload.fa-lg
        input(type='text', value='#{neume.name}', autocomplete="chrome-off", name='main-name', id="neume-name_#{neume.id}", class="name")
        input(type='text', value='#{neume.genericName}', autocomplete="chrome-off", name='generic-name', id="generic-name_#{neume.id}", class="genericName")
        input(type='text', value='#{neume.folio}', autocomplete="off", name='folio', id="folio_#{neume.id}", class="folio")
        input(type='text', value='#{neume.description}', autocomplete="off", name='description', id="description_#{neume.id}", class="description")
        input(type='text', value='#{neume.classification}', autocomplete="off", name='classification', id="classification_#{neume.id}", class="classification")
        div(name='mei', id = 'mei_#{neume.id}', autocomplete="off", class='mei') #{neume.mei}
        div.neume-button-wrapper
          button(class="neume-select-button")
            i.fa.fa-check
          a(class="neume-reorder-button")
            i.fa.fa-arrows-v.fa-lg
          button(class="neume-delete-button")
            i.fa.fa-trash.fa-lg
        


//- script(src"/javascripts/require.js", type="text/javascript")
script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset="utf-8")
script(src="/socket.io/socket.io.js", type="text/javascript")
script(src="https://code.jquery.com/jquery-3.6.0.min.js", type="text/javascript")
script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js", type="text/javascript", integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", crossorigin="anonymous")
script(src="/javascripts/jquery.ui.sortable-animation.js", type="text/javascript")

//- Project is owned
if user.id == project.userID
  script.
    var neumes = !{JSON.stringify(neumes).replace(/<\//g, "<\\/")}
  script(src="/javascripts/newneumescript.js", type='text/javascript')
  script(src="/javascripts/projectOwned.js", type="text/javascript")
else 
  script(src="/javascripts/projectOther.js", type="text/javascript")
    

  

//- script(src='/javascripts/projectSheet.js') 
script(src='//www.termsfeed.com/cookie-consent/releases/3.0.0/cookie-consent.js')

script.

  document.addEventListener('DOMContentLoaded', function () {
  cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","change_preferences_selector":"#changePreferences","language":"en","website_name":"Cress"});
  });
  insertAfter(document.getElementById("section"), document.getElementById("roundedCorners"));
  function insertAfter(newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
  }
   var neumeArray = [];
<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent -->                                          
                                       
