doctype html
html
  head
   title Cress 🎵 
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
  script(src='/javascripts/popup.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

   script(src='/javascripts/dropzone.js')
   link(rel='stylesheet', href='/stylesheets/dropzone.css')
   script(type='text/javascript' src='/javascripts/ace.js')
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='stylesheet', href='/stylesheets/column.css')
   link(rel='stylesheet', href='/stylesheets/collapsible.css')
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

   script(src='/javascripts/dropzone.js')
   link(rel='stylesheet', href='/stylesheets/dropzone.css')
   script(type='text/javascript' src='/javascripts/ace.js')
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='stylesheet', href='/stylesheets/column.css')
   link(rel='stylesheet', href='/stylesheets/collapsible.css')
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
   link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
   link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
   script(src='/javascripts/dropzone.js', type='text/javascript')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
  script(src='/javascripts/dropzone.js', type='text/javascript')
  script(src='/javascripts/worker-xml.js', type='text/javascript')
   
   script(src='/javascripts/worker-xml.js', type='text/javascript')
   link(rel='stylesheet', href='/stylesheets/buttonNeume.css')
   link(rel='stylesheet', href='/stylesheets/header.css')

  link(href='/stylesheets/popup.css', type='text/css', rel='stylesheet')
  link(href='/stylesheets/buttonNeume.css', type='text/css', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/editor.css')
  link(rel="icon" href="/images/Favicon.png")
  script(src='/javascripts/pageReload.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/tooltip.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/w3-toggle.css')

- each user in users
  div
    header(style = "padding : 5px").sticky
        // Main logo
        a#logo(href='#' style = "padding-left : 30px; position : relative; top : -60px")
          span Cress 🎵 
        // main navigation links
        nav
          ul
              li
                a(href='/about') About
              li
                a(href='/projects') Projects
              li
                a(href='http://ddmal.music.mcgill.ca/') DDMAL 
              li
                a(href='/') Log out
              li
                a(href='#' class= "tooltip" style = "z-index : 10000;") Help
                 span.tooltiptext(style = "font : 12px Avenir, sans-serif;") If you do not see the neumes on the page, reload the page once.
              li
                a(href='/profile') #{user.username} 
                 i.fa.fa-user.fa-lg


//Title section : Adding a neume button and changing the title name                
div.neumeSection(style = "padding-top : 97px")
  body
    form()
      
      input#projectName(type='text', value='#{project.name}', name='nameProject' required,style="font-size:35px; font: 35px Avenir, sans-serif; width : 60%; margin : 0px padding : 0px")
    form(action='/csvProject',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                  input(type='text',value='#{project.name}', name='projectName' hidden)
                  button(type = 'submit' class = 'button button2CSV' class = 'tooltip')
                    i.fa.fa-download
                    |  CSV 
                    span.tooltiptext To download the project as a .csv file, click here!

    form(action='/fork',method='post',enctype='application/x-www-form-urlencoded')
              input(type='text',value='#{project.id}', name='IdOfProject' hidden)
              input(type='text',value='#{project.name}', name='projectName' hidden)
              button(type = 'submit' class = 'button button2CSV' class = 'tooltip')
                i.fa.fa-code-fork
                |  Fork
                span.tooltiptext To save the project as your own, click here!
    button(type = 'button' class = 'button button2AddNeume' class = 'tooltip' style = "font: 14px Avenir, sans-serif; width : 4%" onclick = "collapseAll();" id = "buttonSavePosition")
      i(id = "compress").fa.fa-caret-up.fa-sm 
      i(id = "expand" style = "display : none").fa.fa-caret-down.fa-sm 

    //Four Equal Columns
    .row(class="position-sticky" style = "position : fixed; width :100%; top : 159px; z-index : 200; padding-left:5px; padding-right : 75px;")
      .column(style='background-color:#afcfee; width : 25%; border-right : #819fff; border-width : 1px; border-style : solid; border-left : none; border-bottom : none;  border-top : none;')
        h5(style = " font: 18px Avenir, sans-serif; text-align: center;") Images
      .column(style='background-color:#afcfee; width : 20%; border-right : #819fff; border-width : 1px; border-style : solid; border-left : none; border-bottom : none;  border-top : none;')
        h5(style = " font: 18px Avenir, sans-serif; text-align: center;") Folio 
      .column(style='background-color:   #afcfee; width : 20%; border-right : #819fff; border-width : 1px; border-style : solid; border-left : none; border-bottom : none;  border-top : none;')
        h5(style = " font: 18px Avenir, sans-serif; text-align: center;") Classification
      .column(style='background-color:#afcfee; width : 35% ; right : 110px')
        h5(style = "font: 18px Avenir, sans-serif; text-align: center;") MEI encoding

    //Neume section : 4 components added for each new neume.   
    br
    .bodyStyle
      .roundedCorners(id = "roundedCorners")
        ul
            - each neume in neumes
                // Images Section
                div.ui-state-default(id = "drop#{neume.id}")
                  button.collapsible.paddingCollapsible(id = "collapsible#{neume.id}") #{neume.name}#{neume.neumeSectionName}
                  form(name='updateneumepublic',enctype='application/x-www-form-urlencoded')
                      .column
                         .card
                           .panel.panel-default
                             .panel-body
                                div(id = "image#{neume.id}")

                           // Name, Folio and Description Section
                      .column(style = "width : 20%;")
                        .height
                         .card(style = "overflow : hidden; text-align : left")
                              input#inputName(type='text', value='#{neume.name}', name='name' required,style="font-size:12px; margin : 0px padding : 0px; font: 14px Avenir, sans-serif;")
                              .column
                               p(style = "font: 14px Avenir, sans-serif; float : left; margin-top : 0px; display:table-cell; ") Folio: 
                              .column 
                               input#inputfolio(type='text', value='#{neume.folio}', name='folio', style="font-size:12px; float:right; padding : none; margin-bottom : 0px; height : 15px; width : 40%; font: 14px Avenir, sans-serif; display:table-cell; right : 20px; position : absolute" )
                               br
                              p(style = "position : absolute; padding-top : 15px; font: 14px Avenir, sans-serif;") Description:  
                              .column
                               input#inputDescription(type='text', value='#{neume.description}', name='description', style="font-size:12px;  margin-bottom : 0px; margin-top : 20px; height : 20px; font: 14px Avenir, sans-serif; position: absolute; width : 40%")
                               br
                               br
                               br

                      // Classification Section
                      .column(style = "width : 20%")
                         .card
                          input#inputClassification(type='text',value='#{neume.classification}', name='classification' style="font-size:12px; font: 16px Avenir, sans-serif;")

                      // Mei snippet Section
                      .column(style = "width : 35%")
                         .card 
                           .panel.panel-default
                            .panel-body
                                 div(id = "#{neume.id}" style = "height : 100px;")
                                   p 
                                  textarea(name='mei' style='display: none;' id = 'textarea#{neume.id}') #{neume.mei}
                              label.switch(style = "top : -150px; left : 40%;")
                                  input( onclick="check#{neume.id}();" type='checkbox', id = "toggle#{neume.id}" value = "#{neume.review}")
                                  span.slider.round
                                  input(type = "text" name = "review", id = "inputCheckbox#{neume.id}" hidden value = "#{neume.review}")
                      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
                      script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
                      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js', type='text/javascript')


                script.

                  //For each neume in the project :
                  //Have an ace editor and add the value of the ace editor to a textarea, which is linked to the database
                  var editor#{neume.id} = ace.edit('#{neume.id}');
                  var textarea = document.getElementById("textarea#{neume.id}");
                  //console.log(textarea);
                    editor#{neume.id}.getSession().on("change", function () {
                      textarea = document.getElementById("textarea#{neume.id}");
                      textarea.value = editor#{neume.id}.getSession().getValue();
                    });
                  editor#{neume.id}.setTheme("ace/theme/monokai");
                  editor#{neume.id}.session.setMode("ace/mode/xml");
                  var meiString = textarea.value;
                  editor#{neume.id}.setValue(meiString);

                  //Getting the canvas for the mei snippets : 
                  var imagePaths = "#{neume.imagesBinary}";
                  var imageArray = imagePaths.split(',');
                  var canvas = document.createElement('canvas');
                  var ctx = canvas.getContext("2d");
                  var image = new Image();
                  var imageCard = document.getElementById("#{neume.id}");//getting
                  imageCard.appendChild(canvas);

                  /*Function to create a canvas for each image inside of the imagepath array of the neume
                  @param element : single imagepath of the array*/
                    var imagePaths = "#{neume.imagesBinary}";
                    var imageArray = imagePaths.split(',');
                    //console.log(imageArray);
                    imageArray.forEach(function(element) {
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext("2d");
                    canvas.className += "resize";
                    var image = new Image();

                    image.onload = function () {

                        // set size proportional to image
                        canvas.height = image.height*0.5;
                        canvas.width = image.width*0.5;

                        // step 1 - resize to 50%
                        var oc = document.createElement('canvas'),
                            octx = oc.getContext('2d');

                        oc.width = image.width;
                        oc.height = image.height;
                        octx.drawImage(image, 0, 0, oc.width, oc.height);

                        // step 2
                        octx.drawImage(oc, 0, 0, oc.width, oc.height);

                        // step 3, resize to final size
                        ctx.drawImage(oc, 0, 0, oc.width, oc.height,
                        0, 0, canvas.width, canvas.height);
                    }
                    image.src = "data:image/png;base64," + element; //getting the file paths
                    var imageCard = document.getElementById("image#{neume.id}");//getting
                    imageCard.appendChild(canvas);
                    canvas.appendChild(image);//the image is appended
                    });

                  /*On click function of the collapsible buttons. It makes the immediate children of the collapsible 
                  appear if the collapsible button is clicked.*/ 
                     
                    var coll = document.getElementById("collapsible#{neume.id}");
                    
                    coll.addEventListener("click", function() {
                     
                      this.classList.toggle("active");
                      var content = this.nextElementSibling;
                      if (content.style.display === "none") {
                        content.style.display = "block";
                      } else {
                        content.style.display = "none";
                      }
                      
                    });
                    //To save the collapsible state of the neumes
                      var element = "collapsible#{neume.id}";
                      var content = document.getElementById("collapsible#{neume.id}").nextElementSibling;
                      if ($.cookie(element) == "false") {

                        content.style.display = "none";
                      } else {
                        content.style.display = "block";

                      }

                  //Modals event listeners for every modal
                  window.addEventListener('load', function() {
                      initializeModal('myModal', 'myBtn');
                      initializeModal('editImages#{neume.id}', 'editImagesButton#{neume.id}');
                    });
                  $(document).scroll(function() {
                    var y = $(document).scrollTop(), //get page y value 
                        header = $(".row");
                        roundedCorners = $(".roundedCorners");

                    if(y >= 50)  {
                        header.css({position: "fixed", "top" : "57px"});

                    } else {
                        header.css({position: "fixed", "top" : "159px"}); 
                    }
                    }); 
                    //Get toggle value : 
                    console.log(document.getElementById("toggle#{neume.id}").value);
                    if(document.getElementById("toggle#{neume.id}").value == "Yes"){
                    document.getElementById("toggle#{neume.id}").checked = true;
                    }

                    function check#{neume.id}()
                    {
                      if (document.getElementById('toggle#{neume.id}').checked) 
                      {
                         document.getElementById('inputCheckbox#{neume.id}').value = "Yes";
                         document.getElementById('toggle#{neume.id}').checked = true;
                      } else {
                          document.getElementById('inputCheckbox#{neume.id}').value = "No";
                      }
                    }
                    var array = "#{project.positionArray}".split(',');

                      array.forEach(function(element){
                        document.getElementById("roundedCorners").appendChild(document.getElementById(element));
                        var elementNeume = document.getElementById(element);})
                     //Function for the collapse all button
                    function collapseAll(){
                    var elements = document.getElementsByClassName("paddingCollapsible");
                    console.log(elements)
                    for(var x=0; x < elements.length; x++)
                    {
                        var content = elements[x].nextElementSibling;
                        if (content.style.display === "none") {
                        document.getElementById("compress").style.display = "block";
                        document.getElementById("expand").style.display = "none";
                        content.style.display = "block";
                      } else {
                        content.style.display = "none";
                        document.getElementById("expand").style.display = "block";
                        document.getElementById("compress").style.display = "none";
                      }
                      
                    }
                    var deleteButtonCollapse = document.getElementsByClassName("button3");
                    console.log(elements)
                    for(var x=0; x < deleteButtonCollapse.length; x++)
                    {
                       var content = deleteButtonCollapse[x];
                        if (content.style.display === "none") {
                        content.style.display = "block";
                      } else {
                        content.style.display = "none";
                      }
                    }
                  
                     }
                    <!-- Cookie Consent by https://www.TermsFeed.com -->
script(src='//www.termsfeed.com/cookie-consent/releases/3.0.0/cookie-consent.js')
script.
  document.addEventListener('DOMContentLoaded', function () {
  cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","change_preferences_selector":"#changePreferences","language":"en","website_name":"Cress"});
  });

<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent -->   

                                      
