extends ../layout

block content
    h1.
        neume ID #{neume._id}
    form(action='/neumes/#{neume._id}/edit',method='post',name='updateneume',enctype='application/x-www-form-urlencoded')
       form(action = "/clicked" method = "post" required)
        div#images
          .image-area
            img#image(src='http://localhost:3000/gallery/#{neume.name}.jpg')
            a.remove-image#deleteButton(href='#', style='display: inline;' onclick = "removeElement()" type='submit' name = "submit" onerror="this.style.display='none'") ×
        input#inputImage(type='text', value='hey', name='image' required hidden)

        link(href='/stylesheets/dropzone.css', rel='stylesheet')
        div#dropzone-example.dropzone(method='post', action='/image' required)
        .fallback
            div(class = 'dz-default dz-message')
        p Name:
            input#inputName(type='text', value='#{neume.name}', name='name' required)
        p Folio:
            input#inputfolio(type='text', value='#{neume.folio}', name='folio')
        p Description:
            input#inputDescription(type='text', value='#{neume.description}', name='description')
        p Classification:
            input#inputClassification(type='text',value='#{neume.classification}', name='classification')
        p MEI Snippet:
            //input#inputMei(type="text", value='#{neume.mei}', name="mei")
            #editor2(name = "aceEdit")
            textarea#inputMei(name='mei', value='#{neume.mei}' style='display: none;')
  
        p Date:
            input#inputDob(type='date', value='#{neumedob}', name='dob')
        p
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit', value = 'update') Update
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
            script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
            script.
              console.log('hey');
              var editor2 = ace.edit('editor2');
              var textarea = $('textarea[name="mei"]');
                editor2.getSession().on("change", function () {
                  textarea.val(editor2.getSession().getValue());
                  localStorage.setItem("ace",textarea.val());
                });
              editor2.setTheme("ace/theme/monokai");
              editor2.session.setMode("ace/mode/javascript");
              var aceEditor = localStorage.getItem('ace');
              //Function to removeElement:
              var image = document.getElementById("inputImage");
              function removeElement(){
                        var child = document.getElementById("image");
                        var parent = document.getElementById("images");
                        child.remove();
                        parent.remove();  
                        image.value = "deleted";
                        console.log(image.value);
              }
                console.log(image.value);
                    document.addEventListener("DOMContentLoaded", function(event) {
                   document.querySelectorAll('img').forEach(function(img){
                    img.onerror = function(){this.style.display='none';};
                   })
                });
                
                 