doctype html
html
  head
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

   script(src='/javascripts/dropzone.js')
   link(rel='stylesheet', href='/stylesheets/dropzone.css')
   script(type='text/javascript' src='/javascripts/ace.js')
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='stylesheet', href='/stylesheets/column.css')
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
body
    h1.
         #{neume.name}
  .column
   .card
     .panel.panel-default
       .panel-body
          div#images
            p Images: 
 .column
   .card 
    h6 Name: #{neume.name}
    br
    h6 Folio: #{neume.folio}
    br
    h6 Description: #{neume.description}

 .column
   .card 
    p Classification: #{neume.classification}

 .column
   .card 
    p Mei Snippet: #{neume.mei}
    //p Date: #{neumedob}


.column
  form
      input(type='button', value='Back', onclick='history.go(-1)')
    script.
      var imagePaths = "#{neume.imagePath}";
      var imageArray = imagePaths.split(',');
      console.log(imageArray);
      imageArray.forEach(function(element) {
      var canvas = document.createElement('canvas');
      var ctx = canvas.getContext("2d");
      var image = new Image();

      image.onload = function () {

          // set size proportional to image
          canvas.height = canvas.width * (image.height / image.width);

          // step 1 - resize to 50%
          var oc = document.createElement('canvas'),
              octx = oc.getContext('2d');

          oc.width = image.width * 0.5;
          oc.height = image.height * 0.5;
          octx.drawImage(image, 0, 0, oc.width, oc.height);

          // step 2
          octx.drawImage(oc, 0, 0, oc.width * 0.5, oc.height * 0.5);

          // step 3, resize to final size
          ctx.drawImage(oc, 0, 0, oc.width * 0.5, oc.height * 0.5,
          0, 0, canvas.width, canvas.height);
      }
      image.src = "/gallery/" + element; //getting the file paths
      var imageCard = document.getElementById("images");
      imageCard.appendChild(canvas);
      canvas.appendChild(image);//the image is appended
      });
      

