extends ../layout

block content
    h1.
        Infophoto #{neume._id}
    p Name: #{neume.name}
    p folio: #{neume.folio}
    p Description: #{neume.description}
    p Classification: #{neume.classification}
    p Mei Snippet: #{neume.mei}
    p Date: #{neumedob}
    p Image: 
    img#image( class="optional" src='http://localhost:3000/gallery/#{neume.name}.jpg', alt='My_Logo')

    a(href='/neumes') Back
    script.
      $.get("http://localhost:3000/gallery/#{neume.name}.jpg")
            .done(function() { 
                // Do something now you know the image exists.

            })
            .fail(function() { 
               var image = document.getElementById("image");
               image.src = "/javascripts/no-image-icon-6.png";
            })