extends ../layout

block content
    h1.
         #{neume.name}

    p Name: #{neume.name}
    p folio: #{neume.folio}
    p Description: #{neume.description}
    p Classification: #{neume.classification}
    p Mei Snippet: #{neume.mei}
    p Date: #{neumedob}
    p Images: 
    form
      input(type='button', value='Back', onclick='history.go(-1)')
    script.
      var imagePaths = "#{neume.imagePath}";
      var imageArray = imagePaths.split(',');
      console.log(imageArray);
      imageArray.forEach(function(element) {
      var image = document.createElement("img");
      image.src = "/gallery/" + element; //getting the file paths
      document.body.appendChild(image);//the image is appended
      });
      

